# Bokeh Plots - Tests

In [1]:
from scripts.data_acquisition import get_todays_data
from scripts.preprocessing import clean_data, append_location_data, add_statistics
from bokeh.io import output_notebook, show
import numpy as np
import pandas as pd
#output_notebook()

In [2]:
get_todays_data("https://www.england.nhs.uk/statistics/statistical-work-areas/covid-19-daily-deaths/", 
               "data/COVID-19-total-announced-deaths.xlsx", today=True)

Downloading data from link: https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2020/04/COVID-19-total-announced-deaths-20-April-2020.xlsx
Successfully downloaded data

In [2]:
raw_data_trusts, raw_data_age, raw_data_region = clean_data("./data/COVID-19-total-announced-deaths.xlsx")

In [3]:
raw_data_age.head()

                     All 0 - 19 yrs 20 - 39 40 - 59 60 - 79 80+
2020-03-01 00:00:00  1.0          0       0       0       0   1
2020-03-02 00:00:00  0.0          0       0       0       0   0
2020-03-03 00:00:00  5.0          0       0       1       1   3
2020-03-04 00:00:00  1.0          0       0       0       0   1
2020-03-05 00:00:00  4.0          0       0       1       2   1

In [52]:
new_df = pd.DataFrame(raw_data_age.apply(lambda x: np.sum(x), axis=1), columns=['All'])

In [63]:
for df in [raw_data_age, raw_data_region]:
    print(df.columns)

Index(['All', '0 - 19 yrs', '20 - 39', '40 - 59', '60 - 79', '80+'], dtype='object')
Index(['East Of England', 'London', 'Midlands', 'North East And Yorkshire',
       'North West', 'South East', 'South West'],
      dtype='object')

In [50]:
raw_data_age.insert(loc=0, value=new_df, column='All')

ValueError: cannot insert All, already exists

In [51]:
raw_data_age

                       All 0 - 19 yrs 20 - 39 40 - 59 60 - 79  80+
2020-03-01 00:00:00    1.0          0       0       0       0    1
2020-03-02 00:00:00    0.0          0       0       0       0    0
2020-03-03 00:00:00    5.0          0       0       1       1    3
2020-03-04 00:00:00    1.0          0       0       0       0    1
2020-03-05 00:00:00    4.0          0       0       1       2    1
2020-03-06 00:00:00    3.0          0       0       0       1    2
2020-03-07 00:00:00    1.0          0       0       0       0    1
2020-03-08 00:00:00    5.0          0       0       0       4    1
2020-03-09 00:00:00    3.0          0       0       0       2    1
2020-03-10 00:00:00    1.0          0       0       0       0    1
2020-03-11 00:00:00    7.0          0       0       1       3    3
2020-03-12 00:00:00    9.0          0       0       0       1    8
2020-03-13 00:00:00   15.0          0       0       0       4   11
2020-03-14 00:00:00   23.0          0       1       3      10    9
2020-03-15 00:00:00   28.0          0       0       1      17   10
2020-03-16 00:00:00   46.0          0       0       4      14   28
2020-03-17 00:00:00   39.0          0       0       1      12   26
2020-03-18 00:00:00   59.0          1       1       3      16   38
2020-03-19 00:00:00   57.0          0       1       5      19   32
2020-03-20 00:00:00   96.0          0       1      12      28   55
2020-03-21 00:00:00   96.0          0       2       8      40   46
2020-03-22 00:00:00  136.0          0       1      10      41   84
2020-03-23 00:00:00  129.0          0       1       7      53   68
2020-03-24 00:00:00  165.0          1       0      10      62   92
2020-03-25 00:00:00  225.0          0       3      15      93  114
2020-03-26 00:00:00  301.0          0       6      26     122  147
2020-03-27 00:00:00  340.0          0       2      25     140  173
2020-03-28 00:00:00  342.0          0       3      27     138  174
2020-03-29 00:00:00  585.0          1       4      47     236  297
2020-03-30 00:00:00  581.0          0       5      38     237  301
2020-03-31 00:00:00  326.0          1       1      26     133  165
2020-04-01 00:00:00  567.0          0       5      40     231  291
2020-04-02 00:00:00  579.0          1       6      43     215  314
2020-04-03 00:00:00  623.0          0       5      45     265  308
2020-04-04 00:00:00  715.0          0       0      53     306  356
2020-04-05 00:00:00  683.0          0       7      48     262  366
2020-04-06 00:00:00  669.0          0       3      52     266  348
2020-04-07 00:00:00  742.0          0       7      56     315  364
2020-04-08 00:00:00  815.0          1       9      59     322  424
2020-04-09 00:00:00  711.0          1       4      63     300  343
2020-04-10 00:00:00  677.0          0       3      64     270  340
2020-04-11 00:00:00  712.0          1       9      67     292  343
2020-04-12 00:00:00  651.0          0       8      53     247  343
2020-04-13 00:00:00  622.0          0       1      53     241  327
2020-04-14 00:00:00  590.0          0       3      57     216  314
2020-04-15 00:00:00  619.0          0       2      50     233  334
2020-04-16 00:00:00  579.0          0       2      40     230  307
2020-04-17 00:00:00  516.0          0       2      42     206  266
2020-04-18 00:00:00  449.0          0       3      41     148  257
2020-04-19 00:00:00  320.0          0       2      24     113  181
2020-04-20 00:00:00  136.0          0       2       9      54   71

In [3]:
raw_data_age = add_statistics(raw_data_age)

In [10]:
groups = raw_data_age.columns.get_level_values(0).unique().values
new_df = pd.DataFrame(raw_data_age.T.loc[(groups, "Deaths"),:].T.values, columns=groups, index=raw_data_age.index)
new_df

                     All 0 - 19 yrs 20 - 39 40 - 59 60 - 79  80+
2020-03-01 00:00:00  NaN          0       0       0       0    1
2020-03-02 00:00:00  NaN          0       0       0       0    0
2020-03-03 00:00:00  NaN          0       0       1       1    3
2020-03-04 00:00:00  NaN          0       0       0       0    1
2020-03-05 00:00:00  NaN          0       0       1       2    1
2020-03-06 00:00:00  NaN          0       0       0       1    2
2020-03-07 00:00:00  NaN          0       0       0       0    1
2020-03-08 00:00:00  NaN          0       0       0       4    1
2020-03-09 00:00:00  NaN          0       0       0       2    1
2020-03-10 00:00:00  NaN          0       0       0       0    1
2020-03-11 00:00:00  NaN          0       0       1       3    3
2020-03-12 00:00:00  NaN          0       0       0       1    8
2020-03-13 00:00:00  NaN          0       0       0       4   11
2020-03-14 00:00:00  NaN          0       1       3      10    9
2020-03-15 00:00:00  NaN          0       0       1      17   10
2020-03-16 00:00:00  NaN          0       0       4      14   28
2020-03-17 00:00:00  NaN          0       0       1      12   26
2020-03-18 00:00:00  NaN          1       1       3      16   38
2020-03-19 00:00:00  NaN          0       1       5      19   32
2020-03-20 00:00:00  NaN          0       1      12      28   55
2020-03-21 00:00:00  NaN          0       2       8      40   46
2020-03-22 00:00:00  NaN          0       1      10      41   84
2020-03-23 00:00:00  NaN          0       1       7      53   68
2020-03-24 00:00:00  NaN          1       0      10      62   92
2020-03-25 00:00:00  NaN          0       3      15      93  114
2020-03-26 00:00:00  NaN          0       6      26     122  147
2020-03-27 00:00:00  NaN          0       2      25     140  173
2020-03-28 00:00:00  NaN          0       3      27     138  174
2020-03-29 00:00:00  NaN          1       4      47     236  297
2020-03-30 00:00:00  NaN          0       5      38     237  301
2020-03-31 00:00:00  NaN          1       1      26     133  165
2020-04-01 00:00:00  NaN          0       5      40     231  291
2020-04-02 00:00:00  NaN          1       6      43     215  314
2020-04-03 00:00:00  NaN          0       5      45     265  308
2020-04-04 00:00:00  NaN          0       0      53     306  356
2020-04-05 00:00:00  NaN          0       7      48     262  366
2020-04-06 00:00:00  NaN          0       3      52     266  348
2020-04-07 00:00:00  NaN          0       7      56     315  364
2020-04-08 00:00:00  NaN          1       9      59     322  424
2020-04-09 00:00:00  NaN          1       4      63     300  343
2020-04-10 00:00:00  NaN          0       3      64     270  340
2020-04-11 00:00:00  NaN          1       9      67     292  343
2020-04-12 00:00:00  NaN          0       8      53     247  343
2020-04-13 00:00:00  NaN          0       1      53     241  327
2020-04-14 00:00:00  NaN          0       3      57     216  314
2020-04-15 00:00:00  NaN          0       2      50     233  334
2020-04-16 00:00:00  NaN          0       2      40     230  307
2020-04-17 00:00:00  NaN          0       2      42     206  266
2020-04-18 00:00:00  NaN          0       3      41     148  257
2020-04-19 00:00:00  NaN          0       2      24     113  181
2020-04-20 00:00:00  NaN          0       2       9      54   71

In [36]:
raw_data_age.columns.get_level_values(0).unique()[

Index(['0 - 19 yrs', '20 - 39', '40 - 59', '60 - 79', '80+'], dtype='object', name='Age group')

In [76]:
data_trusts_complete = append_location_data(raw_data_trusts, "./data/locations.csv")

In [18]:
data_trusts_complete = add_plot_styles(data_trusts_complete, '14 April 20')

NameError: name 'add_plot_styles' is not defined

In [8]:
from scripts.map_plot import *
from bokeh.io import curdoc
from bokeh.models.widgets import Tabs

WARNING:bokeh.embed.util:
You are generating standalone HTML/JS output, but trying to use real Python
callbacks (i.e. with on_change or on_event). This combination cannot work.

Only JavaScript callbacks may be used with standalone output. For more
information on JavaScript callbacks with Bokeh, see:

    https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html

Alternatively, to use real Python callbacks, a Bokeh server application may
be used. For more information on building and running Bokeh applications, see:

    https://docs.bokeh.org/en/latest/docs/user_guide/server.html

WARNING:bokeh.embed.util:
You are generating standalone HTML/JS output, but trying to use real Python
callbacks (i.e. with on_change or on_event). This combination cannot work.

Only JavaScript callbacks may be used with standalone output. For more
information on JavaScript callbacks with Bokeh, see:

    https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html

Alternatively, to use real Python callbacks, a Bokeh server application may
be used. For more information on building and running Bokeh applications, see:

    https://docs.bokeh.org/en/latest/docs/user_guide/server.html

In [27]:
from bokeh.io import output_file, show
from bokeh.plotting import gmap
from bokeh.models import GMapOptions, ColumnDataSource, HoverTool, Select, column
from bokeh.models.widgets import Dropdown
from datetime import date


#dropdown = Dropdown(label='Date',menu=menu)

menu = Select(options=list(data_trusts_complete.columns[3:-4].values),
 value='Total', title='Data')

map_options = GMapOptions(lat=53.200817,lng=-1.488043, map_type="roadmap", zoom=7)


p3 = gmap(, map_options, title="Total covid-19 deaths by Trust - (Updated " +
         str(date.today()) + ")", plot_width=1200, plot_height=900)

data = {'Region': data_trusts_complete['NHS England Region'],
       'Name': data_trusts_complete['Name'],
       'Deaths': data_trusts_complete['14 April 20'],
       'Longitude': data_trusts_complete['longitude'],
       'Latitude': data_trusts_complete['latitude'],
       'Color': data_trusts_complete['color'],
       'Size': data_trusts_complete['Size']}

src4 = ColumnDataSource(data)

hover = HoverTool(tooltips =[
         ('Name','@Name'),('Total_deaths','@Deaths')])

p3.add_tools(hover)
p3.circle(x="Longitude", y="Latitude", size='Size', fill_alpha=0.8, source=src4,
         legend_group="Region", fill_color = 'Color', line_color='black', line_width=0.5)


    
p3.legend.click_policy="hide"

layout = column(menu, plot)

output_file("html_plots/trusts_map.html")
show(p3)

In [28]:
menu = Select(options=list(data_trusts_complete.columns[3:-4].values),
 value='Total', title='Data')

In [32]:
from scripts.map_plot import *
make_dataset(data_trusts_complete, menu.value)

ColumnDataSource(id='1724', ...)

In [31]:
def make_dataset(dataframe, date):
	from bokeh.models import ColumnDataSource
	data = {'Region': dataframe['NHS England Region'],
	        'Name': dataframe['Name'],
	        'Deaths': dataframe[date],
	        'Longitude': dataframe['longitude'],
	        'Latitude': dataframe['latitude'],
	        'Color': dataframe['color'],
	        'Size': dataframe['Size']}

	src = ColumnDataSource(data)
	
	return src

In [16]:
src = make_dataset(data_trusts_complete, '15 April 20')

In [17]:
def make_plot(src, api_key):
	from bokeh.plotting import gmap
	from bokeh.models import GMapOptions, ColumnDataSource, HoverTool
	from datetime import date

	map_options = GMapOptions(lat=53.200817,lng=-1.488043, map_type="roadmap", zoom=7)


	p = gmap(api_key, map_options, title="Total covid-19 deaths by Trust - (Updated " + str(
		date.today()) + ")", plot_width=1200, plot_height=900)

	hover = HoverTool(tooltips =[
		('Name','@Name'),('Total_deaths','@Deaths')])

	p.add_tools(hover)
	p.circle(x="Longitude", y="Latitude", size='Size', fill_alpha=0.8, source=src,
	          legend_group="Region", fill_color = 'Color', line_color='black', line_width=0.5)

	p.legend.click_policy="hide"

	return p

In [19]:
make_plot(src,)

GMap(id='1633', ...)

In [77]:
import numpy as np
available_dates = list(data_trusts_complete.columns[3:-4].values)
active = np.zeros(int(len(available_dates)), dtype=int)
active[-1] = 1
active = list(active)

In [43]:
from bokeh.models.widgets import CheckboxGroup

In [82]:
date_selection = CheckboxGroup(labels=available_dates, active = active)

In [90]:
def selector(checkbox):
    date_selected = []
    for i, act in enumerate(checkbox.active):
        if act == 1:
            date_selected.append(checkbox.labels[i])
    return date_selected

In [92]:
make_dataset(data_trusts_complete,selector(date_selection))

ColumnDataSource(id='1705', ...)

In [93]:
def update(attr, old, new):
    date_to_plot = selector(date_selection)
    
    new_src= make_dataset(data_trusts_complete, date_to_plot)
    
    src.data.update(new_src.data)

In [94]:
date_selection.on_change('active', update)

In [96]:
src = make_dataset(data_trusts_complete, 'Total')

In [108]:
from bokeh.models.widgets import Tabs
from bokeh.layouts import row, column, WidgetBox
from bokeh.models import Panel
from bokeh.io import curdoc

for i in range(1):
    p2 = make_plot(src, )
    controls = WidgetBox(date_selection)
    layout = row(controls, p2)
    tab = Panel(child=layout)
    tabs = Tabs(tabs=[tab])

BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead

In [34]:
groups = raw_data_age.columns.get_level_values(0).unique().values
new_df = pd.DataFrame(raw_data_age.T.loc[(groups, 'Deaths Today'),:].T.values, columns=groups,
                      index=raw_data_age.index)

In [35]:
new_cols = []
for col in new_df.columns.values: 
    new_cols.append(''.join(col.split(' ')))
new_df.columns = new_cols

In [46]:
import pandas as pd
from bokeh.plotting import ColumnDataSource

groups = raw_data_age.columns.get_level_values(0).unique().values
new_df = pd.DataFrame(raw_data_age.T.loc[(groups, 'Deaths Today'),:].T.values, columns=groups,
              index=raw_data_age.index)
new_cols = []
for col in new_df.columns.values: 
    new_cols.append(''.join(col.split(' ')))
new_df.columns = new_cols

src = ColumnDataSource(new_df)

src.column_names

['index', '0-19yrs', '20-39', '40-59', '60-79', '80+']

In [43]:
from bokeh.plotting import figure
from bokeh.models import HoverTool
from bokeh.palettes import Dark2_5 as palette
import itertools

groups = new_df.columns.get_level_values(0).unique().values

p1 = figure(title="Statistics about deaths in the UK grouped by Age", x_axis_label='Date',
            y_axis_label='Total deaths', x_axis_type="datetime")


colors = itertools.cycle(palette)

for group, color in zip(groups, colors):
    p1.line(x='index', y=group, source=src, line_width=1, legend_label=group, color=color)
    circle = p1.circle(x='index', y=group, source=src, size=6, legend_label=group, color=color)

    hover = HoverTool(tooltips =[
        ('Age group', group),
        ('Date','$x{%F}'),('Total deaths','$y')],
        formatters={'$x': 'datetime'}, renderers = [circle])

    p1.add_tools(hover)

p1.legend.location = "top_left"
p1.legend.click_policy="hide"
show(p1)

RuntimeError: Models must be owned by only a single document, ColumnDataSource(id='2569', ...) is already in a doc

In [64]:
raw_data_age.columns.get_level_values(1).unique().values

array(['deaths today', 'cumulative total', 'change', 'relative change'],
      dtype=object)

In [91]:
raw_data_age.replace(to_replace=np.Inf, value=np.NaN)

Age group             0 - 19 yrs                                          \
Death data          deaths today cumulative total change relative change
2020-03-01 00:00:00            0                0    NaN             NaN
2020-03-02 00:00:00            0                0      0             NaN
2020-03-03 00:00:00            0                0      0             NaN
2020-03-04 00:00:00            0                0      0             NaN
2020-03-05 00:00:00            0                0      0             NaN
2020-03-06 00:00:00            0                0      0             NaN
2020-03-07 00:00:00            0                0      0             NaN
2020-03-08 00:00:00            0                0      0             NaN
2020-03-09 00:00:00            0                0      0             NaN
2020-03-10 00:00:00            0                0      0             NaN
2020-03-11 00:00:00            0                0      0             NaN
2020-03-12 00:00:00            0                0      0             NaN
2020-03-13 00:00:00            0                0      0             NaN
2020-03-14 00:00:00            0                0      0             NaN
2020-03-15 00:00:00            0                0      0             NaN
2020-03-16 00:00:00            0                0      0             NaN
2020-03-17 00:00:00            0                0      0             NaN
2020-03-18 00:00:00            1                1      1             NaN
2020-03-19 00:00:00            0                1     -1          -100.0
2020-03-20 00:00:00            0                1      0             NaN
2020-03-21 00:00:00            0                1      0             NaN
2020-03-22 00:00:00            0                1      0             NaN
2020-03-23 00:00:00            0                1      0             NaN
2020-03-24 00:00:00            1                2      1             NaN
2020-03-25 00:00:00            0                2     -1          -100.0
2020-03-26 00:00:00            0                2      0             NaN
2020-03-27 00:00:00            0                2      0             NaN
2020-03-28 00:00:00            0                2      0             NaN
2020-03-29 00:00:00            1                3      1             NaN
2020-03-30 00:00:00            0                3     -1          -100.0
2020-03-31 00:00:00            1                4      1             NaN
2020-04-01 00:00:00            0                4     -1          -100.0
2020-04-02 00:00:00            1                5      1             NaN
2020-04-03 00:00:00            0                5     -1          -100.0
2020-04-04 00:00:00            0                5      0             NaN
2020-04-05 00:00:00            0                5      0             NaN
2020-04-06 00:00:00            0                5      0             NaN
2020-04-07 00:00:00            0                5      0             NaN
2020-04-08 00:00:00            1                6      1             NaN
2020-04-09 00:00:00            1                7      0             0.0
2020-04-10 00:00:00            0                7     -1          -100.0
2020-04-11 00:00:00            1                8      1             NaN
2020-04-12 00:00:00            0                8     -1          -100.0
2020-04-13 00:00:00            0                8      0             NaN
2020-04-14 00:00:00            0                8      0             NaN
2020-04-15 00:00:00            0                8      0             NaN
2020-04-16 00:00:00            0                8      0             NaN
2020-04-17 00:00:00            0                8      0             NaN

Age group                20 - 39                                          \
Death data          deaths today cumulative total change relative change
2020-03-01 00:00:00            0                0    NaN             NaN
2020-03-02 00:00:00            0                0      0             NaN
2020-03-03 00:00:00            0                0      0             NaN
2020-03-04 00:00:00            0                0      0             NaN
2020-03-05 00:00:00            0                0      0             NaN
2020-03-06 00:00:00            0                0      0             NaN
2020-03-07 00:00:00            0                0      0             NaN
2020-03-08 00:00:00            0                0      0             NaN
2020-03-09 00:00:00            0                0      0             NaN
2020-03-10 00:00:00            0                0      0             NaN
2020-03-11 00:00:00            0                0      0             NaN
2020-03-12 00:00:00            0                0      0             NaN
2020-03-13 00:00:00            0                0      0             NaN
2020-03-14 00:00:00            1                1      1             NaN
2020-03-15 00:00:00            0                1     -1     -100.000000
2020-03-16 00:00:00            0                1      0             NaN
2020-03-17 00:00:00            0                1      0             NaN
2020-03-18 00:00:00            1                2      1             NaN
2020-03-19 00:00:00            1                3      0        0.000000
2020-03-20 00:00:00            1                4      0        0.000000
2020-03-21 00:00:00            2                6      1      100.000000
2020-03-22 00:00:00            1                7     -1      -50.000000
2020-03-23 00:00:00            1                8      0        0.000000
2020-03-24 00:00:00            0                8     -1     -100.000000
2020-03-25 00:00:00            2               10      2             NaN
2020-03-26 00:00:00            6               16      4      200.000000
2020-03-27 00:00:00            2               18     -4      -66.666667
2020-03-28 00:00:00            3               21      1       50.000000
2020-03-29 00:00:00            4               25      1       33.333333
2020-03-30 00:00:00            5               30      1       25.000000
2020-03-31 00:00:00            1               31     -4      -80.000000
2020-04-01 00:00:00            5               36      4      400.000000
2020-04-02 00:00:00            6               42      1       20.000000
2020-04-03 00:00:00            5               47     -1      -16.666667
2020-04-04 00:00:00            0               47     -5     -100.000000
2020-04-05 00:00:00            7               54      7             NaN
2020-04-06 00:00:00            3               57     -4      -57.142857
2020-04-07 00:00:00            6               63      3      100.000000
2020-04-08 00:00:00            9               72      3       50.000000
2020-04-09 00:00:00            4               76     -5      -55.555556
2020-04-10 00:00:00            3               79     -1      -25.000000
2020-04-11 00:00:00            9               88      6      200.000000
2020-04-12 00:00:00            8               96     -1      -11.111111
2020-04-13 00:00:00            1               97     -7      -87.500000
2020-04-14 00:00:00            3              100      2      200.000000
2020-04-15 00:00:00            2              102     -1      -33.333333
2020-04-16 00:00:00            2              104      0        0.000000
2020-04-17 00:00:00            0              104     -2     -100.000000

Age group                40 - 59                                          \
Death data          deaths today cumulative total change relative change
2020-03-01 00:00:00            0                0    NaN             NaN
2020-03-02 00:00:00            0                0      0             NaN
2020-03-03 00:00:00            1                1      1             NaN
2020-03-04 00:00:00            0                1     -1     -100.000000
2020-03-05 00:00:00            1                2      1             NaN
2020-03-06 00:00:00            0                2     -1     -100.000000
2020-03-07 00:00:00            0                2      0             NaN
2020-03-08 00:00:00            0                2      0             NaN
2020-03-09 00:00:00            0                2      0             NaN
2020-03-10 00:00:00            0                2      0             NaN
2020-03-11 00:00:00            1                3      1             NaN
2020-03-12 00:00:00            0                3     -1     -100.000000
2020-03-13 00:00:00            0                3      0             NaN
2020-03-14 00:00:00            3                6      3             NaN
2020-03-15 00:00:00            1                7     -2      -66.666667
2020-03-16 00:00:00            4               11      3      300.000000
2020-03-17 00:00:00            1               12     -3      -75.000000
2020-03-18 00:00:00            3               15      2      200.000000
2020-03-19 00:00:00            5               20      2       66.666667
2020-03-20 00:00:00           12               32      7      140.000000
2020-03-21 00:00:00            8               40     -4      -33.333333
2020-03-22 00:00:00           10               50      2       25.000000
2020-03-23 00:00:00            7               57     -3      -30.000000
2020-03-24 00:00:00           10               67      3       42.857143
2020-03-25 00:00:00           15               82      5       50.000000
2020-03-26 00:00:00           26              108     11       73.333333
2020-03-27 00:00:00           22              130     -4      -15.384615
2020-03-28 00:00:00           27              157      5       22.727273
2020-03-29 00:00:00           47              204     20       74.074074
2020-03-30 00:00:00           38              242     -9      -19.148936
2020-03-31 00:00:00           25              267    -13      -34.210526
2020-04-01 00:00:00           39              306     14       56.000000
2020-04-02 00:00:00           42              348      3        7.692308
2020-04-03 00:00:00           44              392      2        4.761905
2020-04-04 00:00:00           53              445      9       20.454545
2020-04-05 00:00:00           46              491     -7      -13.207547
2020-04-06 00:00:00           49              540      3        6.521739
2020-04-07 00:00:00           55              595      6       12.244898
2020-04-08 00:00:00           57              652      2        3.636364
2020-04-09 00:00:00           62              714      5        8.771930
2020-04-10 00:00:00           63              777      1        1.612903
2020-04-11 00:00:00           64              841      1        1.587302
2020-04-12 00:00:00           53              894    -11      -17.187500
2020-04-13 00:00:00           51              945     -2       -3.773585
2020-04-14 00:00:00           55             1000      4        7.843137
2020-04-15 00:00:00           48             1048     -7      -12.727273
2020-04-16 00:00:00           23             1071    -25      -52.083333
2020-04-17 00:00:00            8             1079    -15      -65.217391

Age group                60 - 79                                          \
Death data          deaths today cumulative total change relative change
2020-03-01 00:00:00            0                0    NaN             NaN
2020-03-02 00:00:00            0                0      0             NaN
2020-03-03 00:00:00            1                1      1             NaN
2020-03-04 00:00:00            0                1     -1     -100.000000
2020-03-05 00:00:00            2                3      2             NaN
2020-03-06 00:00:00            1                4     -1      -50.000000
2020-03-07 00:00:00            0                4     -1     -100.000000
2020-03-08 00:00:00            4                8      4             NaN
2020-03-09 00:00:00            2               10     -2      -50.000000
2020-03-10 00:00:00            0               10     -2     -100.000000
2020-03-11 00:00:00            3               13      3             NaN
2020-03-12 00:00:00            1               14     -2      -66.666667
2020-03-13 00:00:00            4               18      3      300.000000
2020-03-14 00:00:00           10               28      6      150.000000
2020-03-15 00:00:00           17               45      7       70.000000
2020-03-16 00:00:00           14               59     -3      -17.647059
2020-03-17 00:00:00           12               71     -2      -14.285714
2020-03-18 00:00:00           16               87      4       33.333333
2020-03-19 00:00:00           19              106      3       18.750000
2020-03-20 00:00:00           28              134      9       47.368421
2020-03-21 00:00:00           39              173     11       39.285714
2020-03-22 00:00:00           41              214      2        5.128205
2020-03-23 00:00:00           53              267     12       29.268293
2020-03-24 00:00:00           60              327      7       13.207547
2020-03-25 00:00:00           92              419     32       53.333333
2020-03-26 00:00:00          120              539     28       30.434783
2020-03-27 00:00:00          139              678     19       15.833333
2020-03-28 00:00:00          137              815     -2       -1.438849
2020-03-29 00:00:00          234             1049     97       70.802920
2020-03-30 00:00:00          232             1281     -2       -0.854701
2020-03-31 00:00:00          130             1411   -102      -43.965517
2020-04-01 00:00:00          230             1641    100       76.923077
2020-04-02 00:00:00          210             1851    -20       -8.695652
2020-04-03 00:00:00          260             2111     50       23.809524
2020-04-04 00:00:00          304             2415     44       16.923077
2020-04-05 00:00:00          258             2673    -46      -15.131579
2020-04-06 00:00:00          263             2936      5        1.937984
2020-04-07 00:00:00          312             3248     49       18.631179
2020-04-08 00:00:00          314             3562      2        0.641026
2020-04-09 00:00:00          295             3857    -19       -6.050955
2020-04-10 00:00:00          257             4114    -38      -12.881356
2020-04-11 00:00:00          286             4400     29       11.284047
2020-04-12 00:00:00          237             4637    -49      -17.132867
2020-04-13 00:00:00          225             4862    -12       -5.063291
2020-04-14 00:00:00          208             5070    -17       -7.555556
2020-04-15 00:00:00          212             5282      4        1.923077
2020-04-16 00:00:00          178             5460    -34      -16.037736
2020-04-17 00:00:00           53             5513   -125      -70.224719

Age group                    80+
Death data          deaths today cumulative total change relative change
2020-03-01 00:00:00            1                1    NaN             NaN
2020-03-02 00:00:00            0                1     -1     -100.000000
2020-03-03 00:00:00            3                4      3             NaN
2020-03-04 00:00:00            1                5     -2      -66.666667
2020-03-05 00:00:00            1                6      0        0.000000
2020-03-06 00:00:00            2                8      1      100.000000
2020-03-07 00:00:00            1                9     -1      -50.000000
2020-03-08 00:00:00            1               10      0        0.000000
2020-03-09 00:00:00            1               11      0        0.000000
2020-03-10 00:00:00            1               12      0        0.000000
2020-03-11 00:00:00            3               15      2      200.000000
2020-03-12 00:00:00            8               23      5      166.666667
2020-03-13 00:00:00           11               34      3       37.500000
2020-03-14 00:00:00            9               43     -2      -18.181818
2020-03-15 00:00:00           10               53      1       11.111111
2020-03-16 00:00:00           28               81     18      180.000000
2020-03-17 00:00:00           26              107     -2       -7.142857
2020-03-18 00:00:00           38              145     12       46.153846
2020-03-19 00:00:00           32              177     -6      -15.789474
2020-03-20 00:00:00           54              231     22       68.750000
2020-03-21 00:00:00           44              275    -10      -18.518519
2020-03-22 00:00:00           83              358     39       88.636364
2020-03-23 00:00:00           68              426    -15      -18.072289
2020-03-24 00:00:00           92              518     24       35.294118
2020-03-25 00:00:00          113              631     21       22.826087
2020-03-26 00:00:00          144              775     31       27.433628
2020-03-27 00:00:00          171              946     27       18.750000
2020-03-28 00:00:00          172             1118      1        0.584795
2020-03-29 00:00:00          292             1410    120       69.767442
2020-03-30 00:00:00          294             1704      2        0.684932
2020-03-31 00:00:00          162             1866   -132      -44.897959
2020-04-01 00:00:00          288             2154    126       77.777778
2020-04-02 00:00:00          309             2463     21        7.291667
2020-04-03 00:00:00          301             2764     -8       -2.588997
2020-04-04 00:00:00          352             3116     51       16.943522
2020-04-05 00:00:00          362             3478     10        2.840909
2020-04-06 00:00:00          339             3817    -23       -6.353591
2020-04-07 00:00:00          356             4173     17        5.014749
2020-04-08 00:00:00          418             4591     62       17.415730
2020-04-09 00:00:00          341             4932    -77      -18.421053
2020-04-10 00:00:00          333             5265     -8       -2.346041
2020-04-11 00:00:00          333             5598      0        0.000000
2020-04-12 00:00:00          332             5930     -1       -0.300300
2020-04-13 00:00:00          320             6250    -12       -3.614458
2020-04-14 00:00:00          307             6557    -13       -4.062500
2020-04-15 00:00:00          310             6867      3        0.977199
2020-04-16 00:00:00          255             7122    -55      -17.741935
2020-04-17 00:00:00           89             7211   -166      -65.098039

In [13]:
import numpy as np
import pandas as pd
from bokeh.plotting import ColumnDataSource
np.Inf

inf

In [76]:
groups = raw_data_age.columns.get_level_values(0).unique().values
df = pd.DataFrame(raw_data_age.T.loc[(groups, 'Change'),:].T.values, columns=groups, index=raw_data_age.index)
new_df = df.T.unstack().reset_index(level=1, name='Deaths').rename(columns={'level_1':'Age Group'})[['Deaths','Age Group']]

In [78]:
src = ColumnDataSource(new_df)

In [95]:
new_df
from bokeh.palettes import Category10
new_df

           Deaths   Age Group
2020-03-01    NaN  0 - 19 yrs
2020-03-01    NaN     20 - 39
2020-03-01    NaN     40 - 59
2020-03-01    NaN     60 - 79
2020-03-01    NaN         80+
...           ...         ...
2020-04-18      0  0 - 19 yrs
2020-04-18      1     20 - 39
2020-04-18    -26     40 - 59
2020-04-18   -115     60 - 79
2020-04-18   -135         80+

[245 rows x 2 columns]

In [91]:
from collections import defaultdict

import numpy as np
from scipy.stats import norm

from bokeh.plotting import show, figure
from bokeh.models import ColumnDataSource, HoverTool, MultiLine
from bokeh.palettes import Viridis6

RT_x = np.linspace(118, 123, num=50)

mass_spec = defaultdict(list)
for scale, mz in [(1.0, 83), (0.9, 55), (0.6, 98), (0.4, 43), (0.2, 39), (0.12, 29)]:
    mass_spec["RT"].append(RT_x)
    mass_spec["RT_intensity"].append(norm(loc=120.4).pdf(RT_x) * scale)
    mass_spec['MZ_tip'].append(mz)
    mass_spec['Intensity_tip'].append(scale)
#new_df['color'] = Viridis6

source = ColumnDataSource(new_df)

p = figure(plot_height=400)
glyph = MultiLine(xs='index', ys='Deaths', legend_field="Age Group",
             line_width=5, line_alpha=0.6, hover_line_alpha=1.0,
             source=source)
p.add_glyph(source, glyph)
#p.multi_line(xs='index', ys='Deaths', legend_field="Age Group",
#             line_width=5, line_alpha=0.6, hover_line_alpha=1.0,
#             source=source)



show(p)

AttributeError: unexpected attribute 'legend_field' to MultiLine, possible attributes are js_event_callbacks, js_property_callbacks, line_alpha, line_cap, line_color, line_dash, line_dash_offset, line_join, line_width, name, subscribed_events, tags, xs or ys

In [69]:
from bokeh.palettes import Dark2_8 as palette
colors = itertools.cycle(palette)

In [92]:
colormap = dict()
for group, color in zip(data_trusts_complete['NHS England Region'].unique(), colors):
    colormap[group] = color

In [93]:
data_trusts_complete['NHS England Region'].apply(lambda x: colormap[x])

4      #7570b3
5      #7570b3
6      #7570b3
7      #7570b3
8      #7570b3
        ...
189    #1b9e77
190    #1b9e77
191    #1b9e77
193    #1b9e77
194    #1b9e77
Name: NHS England Region, Length: 177, dtype: object

In [87]:
colormap

{'NHS England Region': '#7570b3',
 'Code': '#e7298a',
 'Name': '#66a61e',
 '01 March 20': '#e6ab02',
 '02 March 20': '#a6761d',
 '03 March 20': '#666666',
 '04 March 20': '#1b9e77',
 '05 March 20': '#d95f02',
 '06 March 20': '#7570b3',
 '07 March 20': '#e7298a',
 '08 March 20': '#66a61e',
 '09 March 20': '#e6ab02',
 '10 March 20': '#a6761d',
 '11 March 20': '#666666',
 '12 March 20': '#1b9e77',
 '13 March 20': '#d95f02',
 '14 March 20': '#7570b3',
 '15 March 20': '#e7298a',
 '16 March 20': '#66a61e',
 '17 March 20': '#e6ab02',
 '18 March 20': '#a6761d',
 '19 March 20': '#666666',
 '20 March 20': '#1b9e77',
 '21 March 20': '#d95f02',
 '22 March 20': '#7570b3',
 '23 March 20': '#e7298a',
 '24 March 20': '#66a61e',
 '25 March 20': '#e6ab02',
 '26 March 20': '#a6761d',
 '27 March 20': '#666666',
 '28 March 20': '#1b9e77',
 '29 March 20': '#d95f02',
 '30 March 20': '#7570b3',
 '31 March 20': '#e7298a',
 '01 April 20': '#66a61e',
 '02 April 20': '#e6ab02',
 '03 April 20': '#a6761d',
 '04 April 20': '#666666',
 '05 April 20': '#1b9e77',
 '06 April 20': '#d95f02',
 '07 April 20': '#7570b3',
 '08 April 20': '#e7298a',
 '09 April 20': '#66a61e',
 '10 April 20': '#e6ab02',
 '11 April 20': '#a6761d',
 '12 April 20': '#666666',
 '13 April 20': '#1b9e77',
 '14 April 20': '#d95f02',
 '15 April 20': '#7570b3',
 '16 April 20': '#e7298a',
 '17 April 20': '#66a61e',
 '18 April 20': '#e6ab02',
 '19 April 20': '#a6761d',
 'Total': '#666666',
 'latitude': '#1b9e77',
 'longitude': '#d95f02'}